/**** Media query for max- width of 1010px*/
@media (max-width : 1010px ){
    header{
        & nav{
            & .navright{
                & ul , & .support-btn{
                    display: none;
                }
                
                & img{
                    display: block;
                }
            }
        }
    }

    main{
        grid-template-columns: repeat(3 , 1fr);
    }
}

/**** Media query for max- width of 915px*/
@media (max-width : 915px ){
    header{
        & .header-showcase{
            height: 500px;
            & h1{
                font-size: 3.5rem;
            }
        }
    }
}

/**** Media query for max- width of 630px*/
@media (max-width: 630px) {
    main{
        grid-template-columns: repeat(2 , 1fr);
    }
}

/**** Media query for max- width of 520px*/

@media (max-width:520px){
    header{
        & nav{
            padding: 0.2rem 2%;
            & .navlogo a{
                & img{
                    width: 70px;
                }

                & .navlogo-name{
                    & h1{
                        font-size: 1.1rem;
                    }
                }
            }
        }
        & .header-showcase{
            height:400px;
            & h1{
                font-size: 3rem;
            }
        }
    }

    main{
        padding: 3rem 12%;
        grid-template-columns: 1fr;
    }

    footer{
        flex-direction: column;

        & .social-icons{
            width: 100%;
            justify-content: flex-end;

            & span{
                margin-right: 0;
                margin-left: 0.75rem;
            }
        }

        & .copyright{
            width: 100%;
        }
    }
}

/**** Media query for max- width of 360px*/

@media (max-width : 360px){
    header{
        & nav{
            padding: 0.4rem 2%;
            & .navlogo a{
                & img{
                    width: 40px;
                }

                & .navlogo-name{
                    & h1{
                        font-size: 0.95rem;
                    }
                }
            }
        }
        & .header-showcase{
            height:350px;
            & h1{
                font-size: 2.5rem;
            }
        }
    }
}

@media (max-width : 270px){
    :root{
        font-size: 90%;
    }
}
@media (max-width : 180px){
    :root{
        font-size: 60%;
    }
}