@mixin flex-center {
    display:flex;
    justify-content: center;
    align-items:center
}

@mixin flex-end{
    display:flex;
    justify-content: end;
    align-items:center
}

@mixin transition{
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-delay: .2s;
}

@mixin heartmovement {
    animation-name: heartmove;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    transition: 0.5s all ease;
    @keyframes heartmove {
        from{
            transform: scale(1);
        }

        to{
            transform: scale(1.3);
        }
    }
}