@import 'resets';
@import 'utilities';
@import 'config';

header{
    display:block;
    position: relative;
    width:100%;
    color: #fff;

    & nav{
        width: 100%;
        height: max-content;
        padding: 0 2%;
        display:flex;
        flex-direction: row;
        position: fixed;
        background-color: #f2f2f2;
        z-index: 2;

        & .navlogo a{
            display:flex;
            justify-content: flex-start;
            align-items: center;

            & img{
                width: 80px;
            }

            & .navlogo-name{
                display:flex;
                flex-direction: column;

                & h1{
                    color: #000;
                    font-family:Montserrat, Poppins , Verdana;
                    font-weight: 700 !important;
                    font-size: 1.3rem;
                    line-height: 1.1em;
                }
            }
        }

        & .navright{
            margin-left: auto;
            display:flex;
            justify-content: flex-end;
            align-items:flex-end;
            //border: 1px solid #000;

            & ul{
                display:block;
                position: relative;
                list-style-type: none;
                //border: 1px solid #000;
                height: 75%;

                & li{
                    display: inline-block;
                    margin: 0 0.75rem;
                    //border: 1px solid #000;
                    height: 100%;
                    position: relative;
                    height: 100%;

                    & a{                 
                        position: relative;
                        display: block;       
                        color: $primary-color;
                        font-family: Poppins , 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        font-weight: 500;
                        font-size: 1rem;
                        padding: 0 0.3rem;
                        height: 100%;
                        transition: 200ms opacity ease;

                        &:hover{
                            opacity: 0.6;
                        }

                        /*
                        &:hover{
                            border-bottom: 4px solid $primary-color;
                        }*/
                    }
                    
                }
            }

            & .support-btn{
                width: max-content;
                padding: 0.5rem 1rem;
                background-color: lighten( $primary-color , 30%);
                border: 2px solid lighten($primary-color , 20%);
                margin: auto 0;
                margin-left: 1.5rem;
                border-radius: 20% / 50% ;
                transform: translateY(-10%);

                &:hover{
                    background-color:lighten($primary-color , 20%);
                }

                & span{
                    color: #fff;
                    font-family: Poppins , verdana;
                    font-size: 1rem;
                    font-weight: 600;
                }
            }

            & img{
                display: inline-block;
                width: 30px;
                align-self: center;
                display: none;
            }
        }
    }

    & .header-showcase{
        position: relative;
        width: 100%;
        height: 600px;
        background-image: url(../images/schoolimage3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        z-index: 1;
        padding: 0 5%;

        @include flex-center;

        & h1{
            font-family: Poppins , sans-serif;
            font-size: 4rem;
            font-weight: 400;
            color: #fff;
            position:sticky;
        }


        & .overlay1{
            position: absolute;
            top:0;
            left:0;
            height: 100%;
            width: 30%;
            z-index:2;
            background-image:linear-gradient(to right ,rgb(241, 241, 25 , 0.6) , transparent) ;
        }

        & .overlay2{
            position: absolute;
            top:0;
            right:0;
            height: 100%;
            width: 20%;
            z-index:3;
            background-image:linear-gradient(to right , transparent , rgb(241, 241, 25 , 0.6));
        }
    }
    
}

.nav-active{
    border-bottom: 4px solid $primary-color;
    opacity: 1 !important;
}

main{
    width: 100%;
    padding: 3rem 5%;
    display:grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-gap: 2rem;

    & .blog-content{
        width: 100%;
        position: relative;

        & a{
            & img{
                width: 100%;
                margin-bottom: 1.3rem;
                background-image: url(../images/schoolimage1.jpg);
            }
    
            & h2{
                color: #000;
                font-family: Montserrat;
                font-size: 0.8rem;
                font-family: 300;
                padding: 0.3rem 0;
            }

            & .date-tag{
                position: absolute;
                top: 1rem;
                right: 1rem;
                padding: 0.5rem 0.75rem;
                background-color: rgb(14, 13, 13);
                display: flex;
                flex-direction: column;
                text-align: center;
                z-index: 1;
    
                & span{
                    color: #fff;
                    font-family: Poppins;
                }
    
                & .month{
                    font-size: 1.1rem;
                    font-weight: 500;
                }
    
                & .day{
                    font-size: 1rem;
                    font-weight: 400;
                }
            }
        }

        & h3{
            color: #000;
            font-family: Poppins;
            font-size: 0.95rem;
            font-weight: 500;
            padding: 0.75rem 0;

            & span{
                color: $primary-color;
            }
        }

        & h4{
            color: #000;
            font-family: Montserrat;
            font-size: 0.95rem;
            font-weight: 400;
        }
    }
}

footer{
    width: 100%;
    padding: 0.5rem 5%;
    display:flex;
    flex-direction: row;
    background-color: #f2f2f2;

    
    & .social-icons{
        width: 50%;
        padding: 1rem 0;
        display:flex;
        justify-content: flex-start;
        align-items: center;

        & span{
            height: 30px;
            width:30px;
            background-color: #000;
            padding: 0.5rem;
            border-radius: 50%;
            margin-right: 0.75rem;

            @include flex-center;

            & .fa{
                color: $secondary-color;
                font-size: 18px;
            }
        }
    }

    & .copyright{
        width: 50%;
        display:flex;
        justify-content: flex-end;
        align-items: center;

        & h3{
            color: #000;
            font-weight: 700 !important;
            font-family: Poppins , sans-serif;
            font-size: 0.9rem;
        }
    }
}

aside.hidden-nav{
    position: fixed;
    top:0;
    left:0;
    z-index:4;
    background-color: $primary-color;
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: 0.5s all ease-in-out;

    & a.close-nav{
        display: inline-block;
        color: #fff;
        margin: 30px;
        margin-left: auto;
        font-size: 30px;
    }

    & ul{
        position: relative;
        & li{
            font-family: Poppins , sans-serif;
            font-size: 1.2rem;
            margin: 1.5rem 2rem;
            list-style-type: none;
            
            & a{
                color: #fff;
            }
        }
    }
}

@import 'blogmedia'